body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #94a4b3;
}
.contenedor{
    width: 100%;
}
.menu{
    background-color: #0f4c81;
    /* margin-top: 0px; */
    /* padding-top: 12px; */
    box-sizing: border-box;
    font-size: 0px;
}
#logomain{
    height: 43px;
    width: 42px;
    position: absolute;
    left: 0px;
    top: 0px;
}
ul{
    text-align: center;
}
nav a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
nav li{
    display: inline-block;
    width: 150px;
    padding: 10px 2px;
    /* background-color: #0f4c81; */
    /* border:1px solid #000; */
    text-align: center;
    color: #fff;
}
nav li:hover{
    /* background-color: #fff; */
    color: #f2cb8d;
}
fieldset{
    display:flexbox;
    /* width: 100%; */
    font-size: 20px;
    margin-top: 50px;
    background-color:#0f4c81;
    color:#fff;
}
legend{
    /* background-color: #f2cb8d; */
    text-align: center;
    font-size: 30px;
    /* width: 100%; */
    font-weight: bold;
    padding-top: 30px;
    color: #f2cb8d;
}
p .contacto{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #f2cb8d;
}
.footer{
    display: flexbox;
    background-color: #9d968b;
    color: #fff;
    text-align: center;
    height: 60px;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
}
input, textarea, select, option{
    color: #f2cb8d;
    background-color: #000;
}
@media screen and (max-width:992px){
    .icon{
        margin-right: 45px;
    }
}
@media screen and (min-width:992px){
    .icon{
        display: none;
    }
}